.text-dialog {
    width: 60%;
    height: 500px;
    border: 1px solid #000;
    text-align: center;
    margin: auto;
    font-size: 2em;


    span.op1{
        transition: 0.8s;
        opacity: 1;
    }
    span.op0{
        // transition: 0.8s;
        opacity: 0;
    }
}